body {
  background-color: burlywood;
}
.allSection {
  display: flex;
  flex-wrap: nowrap;
}
.petVet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-logo);
  font-weight: 800;
  font-size: 3rem;
  color: var(--text-color);
  padding-top: 30px;
  padding-right: 80px;
}

.logo {
  height: 100px;
  width: auto;
  margin-left: 6rem;
}

.userName {
  font-family: var(--font-title);
  font-size: 3rem;
  font-weight: bold;
  padding-left: 50px;
}
.mainPage {
  display: flex;
}

.components {
  width: 100%;
}
