.footer {
  background-color: #faecdb;
  padding: 20px;
  text-align: center;
  font-family: var(--font-text);
  color: var(--text-color);
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}
