.petVet {
  display: flex;
  justify-content: end;
  font-family: var(--font-logo);
  font-weight: 800;
  font-size: 3rem;
  color: var(--text-color);
  padding-top: 50px;
  padding-right: 100px;
  padding-bottom: 50px;
}
.healthRecordPage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  background-color: var(--main-color);
}
.petCard {
  width: 100%;
  max-width: 800px;
}
.petReminder {
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}

.addConsult {
  display: flex;
  align-items: center;
  background-color: var(--vet-color);
  border: none;
  border-radius: 10px;
}

.success {
  font-family: var(--font-text);
  color: var(--owner-color);
  font-size: 1.1rem;
  padding: 20px;
}
