.medical-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.pet-card {
  margin: auto;
  width: 800px;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  background-color: white;
}

.pet-first-info {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 20px 20px 20px 80px;
  gap: 50px;

  h2 {
    font-family: var(--font-logo);
    font-size: 2rem;
    font-weight: 600;
  }
  p {
    font-family: var(--font-text);
    color: var(--text-color);
    padding-top: 5px;
  }
}

.pet-second-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  h3 {
    font-family: var(--font-logo);
    font-size: 1rem;
    font-weight: 600;
  }
  p {
    font-family: var(--font-text);
    color: var(--text-color);
    padding-top: 5px;
  }
}

.pet-title {
  display: flex;
  gap: 3rem;

  .age {
    color: white;
    text-align: center;
    background-color: var(--vet-color);
    padding: 5px;
    width: 50px;
    border-radius: 10px;
  }

  .weight {
    color: white;
    text-align: center;
    background-color: var(--owner-color);
    padding: 5px;
    width: 50px;
    border-radius: 10px;
  }
}

.pet-name-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image-pet {
  border-radius: 50%;
}

.resume {
  display: flex;
}

.short-medical-history {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  margin: 1.25rem 1.25rem auto;
  border-radius: 10px;
  width: 400px;
  background-color: white;

  h2 {
    color: var(--text-color);
    font-family: var(--font-logo);
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
  }

  h3 {
    color: var(--owner-color);
    font-family: var(--font-text);
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
  }

  .consultation-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .consultation-card {
    display: flex;
    gap: 0;
    border-radius: 50px;
    background-color: rgba(253, 244, 234, 0.6);
    width: 320px;
    padding: 0.625rem;
    margin-bottom: 0.625rem;
    h3 {
      display: none;
    }
    p {
      display: none;
    }
    .created-date {
      display: block;
    }

    button {
      display: none;
    }
    .consultation-first-info div {
      flex-direction: row;
      align-items: center;
      gap: 20px;
      font-family: var(--font-text);
      color: var(--text-color);
      p {
        font-size: 0.875rem;
      }
    }
  }
}

.none {
  display: none;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
  margin: 4rem;

  button:hover {
    cursor: pointer;
  }

  button:not(.selected-section) {
    height: 3rem;
    width: 8rem;
    background-color: white;
    border-radius: 10px;
    border: none;
    color: var(--font-text);
  }
}

.selected-section {
  height: 3rem;
  width: 8rem;
  background-color: var(--owner-color);
  border-radius: 10px;
  border: none;
  color: white;
}
