.reminder-container {
  background-color: #ffffff;
  padding: 1.25rem;
  border-radius: 10px;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  margin: 1.25rem auto;
  max-width: 300px;
}
.reminder-container h1 {
  color: var(--text-color);
  margin-bottom: 1.25rem;
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 1.75rem;
}
.reminder-container h2 {
  color: var(--owner-color);
  margin-bottom: 1.25rem;
  font-family: var(--font-text);
  font-weight: 500;
  font-size: 1.2rem;
}
.reminder-container img {
  width: 40px;
  height: 40px;
  margin-right: 0.625rem;
}
.reminder-container button {
  width: 100%;
  border: none;
  padding: 0.625rem;
  background-color: var(--main-color);
  border-radius: 50px;
  margin-bottom: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}
.reminder-container button h3 {
  margin: 0;
  font-family: var(--font-text);
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--text-color);
}
.reminder-container button p {
  margin: 0;
  font-family: var(--font-text);
  font-size: 0.875rem;
  color: var(--text-color);
}
.reminder-container button:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
