@font-face {
  font-family: "Ruda";
  src: url("../fonts/Ruda-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Madurai";
  src: url("../fonts/HindMadurai-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Siliguri";
  src: url("../fonts/HindSiliguri-Regular.ttf") format("truetype");
}

:root {
  --font-logo: "Ruda";
  --font-text: "Siliguri";
  --font-title: "Madurai";
  --vet-color: #a8b88b;
  --owner-color: #d4896c;
  --main-color: #faecdb;
  --text-color: #3d3d3d;
}
