.vet-consultations-container {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
}

.vet-consultations-container .add-consultation-button {
  width: 15rem;
  height: 2rem;
  border: none;
  background-color: var(--vet-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  margin: 1.25rem 0 0 0;
  font-size: 0.75rem;
  color: #ffffff;
  font-family: var(--font-text);
}
.vet-consultations-container
  .vet-consultations-header
  .add-consultation-button
  img {
  width: 15px;
  height: 15px;
}
.vet-consultations-container
  .vet-consultations-header
  .add-consultation-button:hover {
  background-color: #6fa0dd;
  cursor: pointer;
}

.vet-consultations-container .vet-consultations-cards {
  background-color: #ffffff;
  padding: 1.25rem;
  border-radius: 10px;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  margin: 1.25rem auto;
  width: 100%;
}
.vet-consultations-container .vet-consultations-cards h1 {
  color: var(--text-color);
  margin-bottom: 1.25rem;
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 1.75rem;
}
.vet-consultations-container .vet-consultations-cards img {
  width: 40px;
  height: 40px;
}
.vet-consultations-container .vet-consultations-cards .consultation-item {
  width: 100%;
  border: none;
  padding: 1rem;
  background-color: var(--main-color);
  border-radius: 50px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-content: space-around;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}
.vet-consultations-container
  .vet-consultations-cards
  .consultation-item
  .consultation-details {
  margin: 0;
  font-family: var(--font-text);
  font-size: 0.875rem;
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
}
.vet-consultations-container .vet-consultations-cards .consultation-item:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
.vet-consultations-container .vet-consultations-cards .consultation-item h3 {
  margin: 0;
  font-family: var(--font-text);
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--text-color);
}
.vet-consultations-container .vet-consultations-cards .consultation-details p {
  margin: 0;
  font-family: var(--font-text);
  font-size: 1rem;
  color: var(--text-color);
}
.vet-consultations-container .vet-consultations-header {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: flex-end;
}
.vet-consultations-container .vet-consultations-cards .see-more-button {
  width: 100%;
  height: 2.5rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  font-size: 1rem;
  color: var(--text-color);
  font-family: var(--font-text);
  background-color: transparent;
}
